* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.text-align-center {
    text-align: center;
}

.medium-font-size {
    font-size: 14px;
}


.page-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

table {
    border: 1px solid black;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    text-align: left;
    width: auto;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-title {
    font-size: 40px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
    color:black;
}

/* hindrar länken från att bli lila när den klickas */
.nav a{
    color: black;
    text-decoration: none;
}

.nav a:visited {
    color: inherit;
}

.nav a:hover {
    color: inherit;
    text-decoration: underline;
}

.nav li:hover{
    transform: translateY(-5px);
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4e9375;
    width: 800px;
    height: 620px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 2px solid black

}

.table-container table{
    width: 200px;
    height: 520px;
}

.instructions-container {
    display: flex;
    height: 65px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.roll-button {
    width: 65px;
    height: 25px;
    padding: 0px 3px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn {
    width: 65px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;

}

.roll-button:hover {
    transform: translateY(-2px);
}



.dice-and-roll-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.dice-container {
    display: flex;
    flex: row;
    align-items: center;
    width: 300px;
}

.dice img{
    width: 60px;
    height: auto;
}

#play-area{
    height: 350px
}



.highscore-rules-container{
    display: flex;
    flex-direction: row;
    width: 840px;
    height: auto;
    justify-content: space-between;
    gap: 20px;
}

.highscore{
    height: fit-content;
}

.highscore table{
    width: 350px;
    height: auto;
}

.highscore th {
    width: auto;
}

.rules {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    word-wrap: break-word;
    gap: 10px;
}