* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.text-align-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.no-select {
    user-select: none
}

.medium-font-size {
    font-size: 14px;
}


.page-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

table {
    border: 1px solid black;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    text-align: left;
    width: auto;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-title {
    font-size: 40px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
    color:black;
}

/* hindrar länken från att bli lila när den klickas */
.nav a{
    color: black;
    text-decoration: none;
}

.nav a:visited {
    color: inherit;
}

.nav a:hover {
    color: inherit;
    text-decoration: underline;
}

.nav li:hover{
    transform: translateY(-5px);
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4e9375;
    width: 800px;
    height: 620px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: 2px solid black

}

.table-container table{
    width: 200px;
    height: 520px;
}

.instructions-container {
    display: flex;
    height: 65px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.username-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.username-input-field{
    width: 220px;
    height: 24px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
    outline: none;
}

.username-input-field[type=text]{
    padding: 0px 5px;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.roll-button {
    width: 65px;
    height: 25px;
    padding: 0px 3px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn {
    width: 65px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;

}

.roll-button:hover {
    transform: translateY(-2px);
}



.dice-and-roll-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.dice-container {
    display: flex;
    flex: row;
    align-items: center;
    width: 300px;
}

.dice img{
    width: 60px;
    height: auto;
}

#play-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    height: 350px
}



.highscore-rules-container{
    display: flex;
    flex-direction: row;
    width: 840px;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}

.highscore{
    height: fit-content;
}

.highscore table{
    width: 350px;
    height: auto;
}

.highscore th {
    width: auto;
}

.rules {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    word-wrap: break-word;
    gap: 13px;
}

.rules ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
}



.return-to-top{
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-bottom: 20px;
}

.return-to-top:hover{
    text-decoration: underline;
    transform: translateY(-2px);
}





@media (max-width: 850px){
    .game-container {
        width: 700px;
    }

    .highscore-rules-container {
        width: 740px;
        height: 100%;
    }

}


@media (max-width: 720px){
    .game-container {
        width: 520px;
    }

    .highscore-rules-container {
        width: 560px;
    }

    .highscore table {
        width: 250px;
    }
    

}